#dd{
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(3,50px);
    gap: 30px 30px;
}
.a{
    background-color: red;
}
.b{
    background-color: blue;
}
.c{
    background-color: green;
}
.d{
    background-color: gray;
}
.e{
    background-color: brown;
}